# Contains all dependencies necessary for doing data-sciency things locally,
# importing the prod dependencies from requirements.txt

-r requirements.txt

responses
memory_profiler

# Data packages
dask[complete]>=2.3
catboost
category_encoders

# Kedro packages
ipython==8.1.1
isort>=4.3.21, <6.0
jupyter~=1.0
jupyterlab==3.2.9
jupyter_client>=5.1, <8.0
jupyter_nbextensions_configurator==0.4.1
jupyter_contrib_nbextensions==0.5.1
nbstripout==0.5.0
pytest==7.0.1
pytest-cov~=3.0
pytest-mock>=1.7.1, <4.0
wheel~=0.37

# Data vis packages
seaborn
matplotlib
pydot
ipywidgets

# Model analysis packages
eli5
# pdpbox temporarily removing as it's incompatible with versions of matplotlib > 3.1.1
# yellowbrick temporarily removing as it's incompatible with scikit learn 0.24
shap

# Testing/Linting
pylint==2.12.2
black
faker==13.3.0
freezegun
factory_boy
betamax
pytest-xdist
pydocstyle==6.1.1
coverage
candystore==0.3.4

# Types
types-PyYAML
types-cachetools
types-click
types-freezegun
types-pkg_resources
types-python-dateutil
types-pytz
types-requests
types-simplejson
types-toml
