# Only contains the dependencies necessary to run the serverless functions.
# This reduces the file size deployed to Google Cloud.

requests
google-cloud-storage==1.30.0
joblib
simplejson
bottle==0.12.18
gunicorn

# Data packages
numpy==1.19.1
pandas==1.1.0
scikit-learn==0.23.1
xgboost==1.1.1
mlxtend==0.17.3
statsmodels==0.11.1
scipy==1.5.2
tensorflow==2.3.0

# Kedro packages
kedro==0.16.4
gcsfs # Needed to access Google Cloud Storage files

# Testing/Linting
mypy>=0.70 # Need mypy due to references to mypy_extensions in production code
