# Only contains the dependencies necessary to run the serverless functions.
# This reduces the file size deployed to Google Cloud.

requests
google-cloud-storage==1.36.0
joblib
simplejson
bottle==0.12.19
gunicorn
rollbar

# Data packages
numpy==1.19.5
pandas==1.2.2
scikit-learn==0.24.0
xgboost==1.3.3
mlxtend==0.18.0
statsmodels==0.11.1
scipy==1.6.0
tensorflow==2.4.1

# Kedro packages
kedro==0.16.5
gcsfs<0.7 # Needed to access Google Cloud Storage files
fsspec<0.7 # Needed for DataSet functionality

# Testing/Linting
mypy>=0.70 # Need mypy due to references to mypy_extensions in production code
