# Only contains the dependencies necessary to run the serverless functions.
# This reduces the file size deployed to Google Cloud.

requests
google-cloud-storage==1.21.0
joblib

# Data packages
numpy
pandas>=0.23.0,<0.26.0
scikit-learn==0.21.3
xgboost==0.90

# Kedro packages
kedro==0.15.3

# Testing/Linting
mypy>=0.70 # Need mypy due to references to mypy_extensions in production code
