# Contains all dependencies necessary for doing data-sciency things locally,
# importing the prod dependencies from requirements.txt

-r requirements.txt

responses>=0.10.6,<0.11
memory_profiler

# Data packages
dask[complete]>=2.3
mlflow==1.10.0
catboost
fbprophet
category_encoders

# Kedro packages
ipython>=7.0.0, <8.0
jupyter>=1.0.0, <2.0
jupyterlab==2.2.2
jupyter_nbextensions_configurator==0.4.1
jupyter_contrib_nbextensions==0.5.1
# Required version for jupyter-console 6.0.0
prompt-toolkit<2.1.0,>=2.0.0
nbstripout==0.3.9
pytest==6.0.1
pytest-cov>=2.5, <3.0
pytest-mock>=1.7.1,<4.0
wheel==0.34.2

# Data vis packages
seaborn
matplotlib
pydot
ipywidgets

# Model analysis packages
eli5
pdpbox
yellowbrick
shap

# Testing/Linting
pylint==2.5.3
black
faker
freezegun
factory_boy
betamax
pytest-xdist
pydocstyle==5.0.2
coverage
